{% extends 'base.html' %}

{% block head %} Tracker {% endblock %}

{% block body %}
<h1>Tracker</h1>

<form method="POST">
    <div class="add-to">
        <label for="add-item">Add an Item to Track</label>
        <input
        type="text"
        class="textbar"
        id="add-item"
        name="itemName"
        placeholder="Product Name"
        />
    
    </div>
    
    <br/>
    <button type="submit" name="add">Add</button>
</form>
    
<form method="POST">
    <div class="item-list">
        <ul>
            {% for item in items %}
                <li>
                    <input type="checkbox" id={{item}} value={{ item.id }} name="delList">
                    <label for={{ item }}>{{ item.itemName }}</label>
                </li>
            {% endfor %}
        </ul>
        <button type="submit" name="delete">Delete</button>
    </div>
</form>


{% endblock %}